/*   Navbar Menu   */
body{
   font-family: 'Montserrat';
}
p, h1, h2, h3, h4, h5, label, ul, li{
    font-family: 'Montserrat';
}
#side-menu{
    background-color: #1E4554;
    width: 14rem;
    padding-right: 0;
    padding-left: 0;
} 
#logo{
    width: 65%;
  
}

#v-pills-tab > a > span{
    padding-right: 5px;
}
   
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #F39E1D;
}
.nav-link:hover{
    color: #fff;
    background-color: #F39E1D;

}
.nav-link{
    color: #ffffff;
    font-size: 10px;
    padding: 3.5px 7px;
}
/* Tab Content */
#main-content {
    padding-left: 0;
    padding-right:0;
}

/* Home */
.comp-img > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.comp-img >.carousel-caption > p {
    font-size: 12px;
    font-weight: 700;
}
.container {
    position: relative;
  }
.news-widget > img {
    height: 150px;
    width: 450px;
  }
  
.text-block {
    position: absolute;
    top: 113px;
    font-size: 12px;
    background-color: #f39e1dba;
    color: white;
    width: 450px;
    padding: 8px;
}

.text-block > h4 {
    font-size: 12px;
}
.projects-slider{
    margin-top: 15px;
}
.blog_section {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .blog_section .blog_content .blog_item {
    margin-bottom: 30px;
    box-shadow: 0 0 11px 0 rgba(6, 22, 58, 0.14);
    position: relative;
    border-radius: 2px;
    overflow: hidden;
  }


  .blog_section .blog_content .owl-nav {
    display: block;
  }
  .blog_section .blog_content .owl-nav .owl-prev {
    position: absolute;
    left: -27px;
    top: 33%;
    border: 5px solid #fff;
    text-align: center;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    background: #ff5e14;
    transition: all 0.3s;
    color: #fff;
  }
  .blog_section .blog_content .owl-nav .owl-prev span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-prev:hover {
    background: #fff;
    border-color: #ff5e14;
    color: #ff5e14;
  }
  .blog_section .blog_content .owl-nav .owl-next {
    position: absolute;
    right: -27px;
    top: 33%;
    border: 5px solid #fff;
    text-align: center;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    background: #ff5e14;
    color: #fff;
    transition: all 0.3s;
  }
  .blog_section .blog_content .owl-nav .owl-next span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-next:hover {
    background: #fff;
    border-color: #ff5e14;
    color: #ff5e14;
  }

.content{
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}
.content .content-overlay{
    background: #F39E1D;
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}
.content:hover .content-overlay{
    opacity: 1
}
.content-image{
    width: 200px !important;
    height: 145px !important;
    object-fit: cover;
}

.content-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1
}
.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 12px;
}
.content-details p{
    color: #fff;
    font-size: 0.8em
}
.fadeIn-bottom{
    top: 80%
}

  
  @media only screen and (max-width: 577px) {
    .blog_section .owl-nav .owl-prev {
      left: -17px !important;
    }
    .blog_section .owl-nav .owl-next {
      right: -17px !important;
    }
  }


.eventbox {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: right;
    display: block;
    margin-left: 15px;
    padding-bottom: 2rem;
}
.eventbox-title{
    padding-bottom: 2rem;
    display: table-cell;
}
 .eventbox-icon {
    background-color: #F39E1D;
    border-radius: 5px;
    display: table;
    height: 45px;
    margin: 0 auto;
    width: 45px;
    float: left;
}
.eventbox-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}
.eventbox-title h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    margin-left: 15px;
    margin-top: 12px;
    color: #1E4554;
}
.display-4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}
.display-4 > span > h4 {
    font-size: 15px;
}
.calendar-info > p{
    font-size: 11px;
    text-align: initial;
}
.badge-secondary {
    color: #fff;
    background-color: #1E4554;
    margin-left: 10px;
}

.projecttitle{
    color: #1E4554;
    font-weight: 700;
    font-size: 15px;

}
.quicklinkstitle{
    color: #1E4554;
    font-weight: 700;
    font-size: 15px;
}
.linksmenu{
    display: inline-flex;
}
.linkitem .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
  }
  
  .linkitem .nav-link > .fa {
    display: block;
    width: 48px;
    height: 48px;
    top: 0;
    line-height: 24px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #F39E1D;
    padding: 10px;
    font-size: 18px;
    margin: 15px;
  }
  .nav-link .linkref:hover{
    color: #fff;
    background-color: #F39E1D;

}
.nav-link.linkref{
    color: #ffffff;
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
.nav-link.linkref > label{
    color: #1E4554;
    font-weight: 700;
    font-size: 10px;
}
.nav-link.linkref > i{
    border: 50%;
    height: 20px;
    width: 20px;
}
.navbar-icon-top{
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: right;
    margin-top: 20px;
}
.linkitem{
    margin-left: 8px;
    margin-right: 8px;
}
.linkref:hover{
    background-color: #ffffff !important;
    border: 2px solid #1E4554;
}
.box-pillar{
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: right;
    margin-top: 20px;
    height: 210px;
}
.pillar-content{
    text-align: center;
    padding: 15px;
    font-size: 15px;
    padding-top: 3rem;
}
.pillar-content > h5{
    color: #1E4554;
    font-weight: 800;
    font-size: 15px;
}
.pillar-content > h5 > span{
    color: #F39E1D;
    font-weight: 800;
}
.pillar-content > p{
    font-weight: 500;
    font-size: 13px;
}
.ceo-card{
    border: none;
    margin-top: 15px;
}
.ceo-card > .card-body > .card-img-top{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.ceo-card > .card-body > h5{
    font-size: 15px;
    color: #1E4554;
    font-weight: 700;
    text-align:center;
}
.ceo-card > .card-body > p{
    font-size: 12px;
}
.askbtn{
    padding: 3px 45px;
    background-color: #F39E1D;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}
.askbtn > i {
    color: #1E4554;
}
.blogimage{
    width: 50px;
    height: 50px;
    margin-left: 4px;
}
.blogentry{
    margin-bottom: 15px;
}
.announce-info p{
    font-size: 11px;
    text-align: initial;
}

.blog-info > p{
    font-size: 11px;
    text-align: initial;
}

.award-card{
    border: none;
    margin-top: 15px;
}
.award-card > .card-body > .card-img-top{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}
.award-card > .card-body > p{
    font-size: 11px;
    font-weight: 700;
    text-align:center;
    margin-bottom: 0 !important;
}

.award-title{
    display: inline-flex;
}
.award-title > h5{
    font-weight: 700;
    font-size: 15px;
    margin-left: 12px;
    margin-right: 12px;
}
/* Departments */
.dep-header{
    background-image: url("images/tujereng-hybrid-project.jpeg");
    height: 5rem;
    background-position: center;

}
.dep-title{
    text-align: center;
    font-size: 25px;
    color: #1E4554;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2rem;
}
.staff-info{
    margin-left: 3rem;
    border-bottom: 2px solid #9b9b9b;
    padding-bottom: 15px;
}
.staff-image > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.staff-details{
    margin-top: 2rem;
    margin-left: 4rem;
}
.staff-name > h4{
    font-size: 15px;

}
.staff-designation > h4{
    font-weight: 600;
    font-size: 15px;
    color: #F39E1D;
}
.staff-desc{
    font-size: 15px;
    margin-top: 1rem;
}
.dep-info{
    margin-left: 3rem;
}
.dep-info > label {
    font-size: 20px;
    color: #1E4554;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.docs-section{
    margin-left: 3rem;
}
.dep-box{
    background-color: #cccccc;
    border-radius: 5px;
    color: #000000;
    text-decoration: unset;
    padding: 11px 54px;
    margin: 5px;
}
.dep-docs{
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: right;
    /* display: block; */
    margin-top: 60px;
    padding-bottom: 2rem;
    width: 95%;

}
.dep-docs > .row{
    padding-top: 2rem;
}
.dep-docs > .row > .col-md-3{
    margin-bottom: 2rem;
}
.dep-docs > .box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: right;
    display: block;
    margin-top: 60px;
    padding-bottom: 2rem;
}
.dep-docs > .box-title{
    margin-bottom: 4rem;
    display: table-cell;
}
.dep-docs > .box-icon {
    background-color: #F39E1D;
    border-radius: 5px;
    display: table;
    height: 50px;
    margin: 0 auto;
    width: 50px;
    float: left;
}
.dep-updates{
    background-color: #cccccc;
    border-radius: 5px;
}
.dept-content > h5 {
    color: #F39E1D;
    font-size: 15px;
    font-weight: 600;
    margin: 15px;
}
.dep-list{
    padding-inline-start: 15px;
}
.dep-list > li {
    list-style: none;
}
.dept-content > ul > li {
    border-bottom: 2px solid #a1a1a1;
    padding-bottom: 15px;
    font-size: 11px;
}


/* Marketing Section  */
.header-title{
    background-image: url("images/the-ultimate-guide-to-digital-marketing-61726311bf393-sej.png");
    height: 5rem;
    background-position: center;
}
.header-title h4{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    padding-top: 15px;
}
#marketingmaterials{
    margin-right: 3rem;
    margin-left: 3rem;
}
.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: right;
    display: block;
    margin-top: 60px;
    padding-bottom: 2rem;
}
.box-title{
    margin-bottom: 4rem;
}
.box-icon {
    background-color: #F39E1D;
    border-radius: 5px;
    display: table;
    height: 50px;
    margin: 0 auto;
    width: 50px;
    float: left;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}
.box-title h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    margin-left: 15px;
    margin-top: 12px;
    color: #1E4554;
}
.info{
    padding-top: 4rem;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > h4{
    text-align: left;
}
.listinfo li{
    font-size: 15px;
    text-align: left;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
}


/* Training Tab */
.marketing-title{
    background-image: url("images/hr_hero-training.jpg");
    height: 5rem;
    background-position: center;
}
.marketing-title h4{
    text-align: center;
    font-size: 30px;
    color: #000000;
    padding-top: 15px;
}
.salutation{
    margin-top: 3rem;
}
.sal-title{
    margin-left: 15px;
    font-weight: 500;
    color: #1E4554;
}
.loggeduser{
    font-weight: 600;
    color: #1E4554;
    font-size: 15px;
}
.training-section > h4{
    font-size: 15px;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 2rem;
}
.training-section{
    margin: 1rem;
}
#trainingcards .card{
    width: 17rem;
    margin-bottom: 15px;;
}
#trainingcards .card-text{
    font-size: 12px;
}
.trainmore{
    float: right;
    background-color: #F39E1D;
    border: none;
}
.trainmore:hover{
    float: right;
    background-color: #1E4554;
    border: none;
}
.fa.fa-star{
    color: #F39E1D;
}
